Repository data-apis/array-api, pull requests merged in 2021-04, with the labels that each got.

#148 Update dtype requirements for existing linear algebra APIs
  spec/API_specification/linear_algebra_functions.md
Labels: maintenance

#146 Add contributor acknowledgements via all-contributors
  .all-contributorsrc
  .gitignore
  CONTRIBUTING.md
  README.md
Labels: acknowledge contributors

#135 Update specification to use `self` in array object APIs
  spec/API_specification/array_object.md
Labels: maintenance

#133 Small formatting fixes to make the spec parsable by the test suite scripts
  spec/API_specification/array_object.md
  spec/API_specification/data_type_functions.md
  spec/API_specification/elementwise_functions.md
  spec/API_specification/type_promotion.md
Labels: maintenance

#132 PR: Add can-cast, broadcast-arrays and broadcast-to
  spec/API_specification/data_type_functions.md
Labels: API extension

#145 PR: Add meshgrid
  spec/API_specification/creation_functions.md
Labels: API extension

#166 Note that in-place operators should not change the dtype of the array
  spec/API_specification/array_object.md
  spec/API_specification/type_promotion.md
Labels: content, maintenance

#167 Update API specification for creation and manipulation functions
  spec/API_specification/creation_functions.md
  spec/API_specification/data_type_functions.md
  spec/API_specification/data_types.md
  spec/API_specification/manipulation_functions.md
  spec/API_specification/set_functions.md
Labels: API change, maintenance
