Repository data-apis/array-api, pull requests merged in 2021-05, with the labels that each got.

#173 Update typing for array object dunder methods
  spec/API_specification/array_object.md
  spec/API_specification/elementwise_functions.md
Labels: maintenance

#100 Make axis keyword to squeeze() positional
  spec/API_specification/manipulation_functions.md
Labels: API change

#110 Add Cholesky function specification
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#111 Add slogdet specification
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#118 Add specification for computing the pseudo-inverse (linalg: pinv)
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#137 Add specification for computing the dot product (linalg: vecdot)
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#136 Add specification for computing a tensor contraction (linalg: tensordot)
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#115 Add linalg solve function specification
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#114 Add SVD function specification
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#119 Add specification for returning the least-squares solution to a linear matrix equation (linalg: lstsq)
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#126 Add specification for computing the qr factorization
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#134 Add specification for computing the matrix product (linalg: matmul)
  spec/API_specification/array_object.md
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#128 Add specification for computing the number of non-zero singular values of a matrix (linalg: matrix_rank)
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#112 Add matrix_power specification
  spec/API_specification/linear_algebra_functions.md
Labels: API extension

#149 Add linear algebra design principles
  spec/API_specification/linear_algebra_functions.md
Labels: content

#182 Move linear algebra APIs to an extension
  spec/API_specification/linear_algebra_functions.md
  spec/extensions/index.rst
  spec/extensions/linear_algebra_functions.md
  spec/index.rst
Labels: content

#186 Add a missing requirement for the producer of DLPack capsules
  spec/design_topics/data_interchange.md
Labels: content

#185 Improve documentation for `stream` argument to `__dlpack__`
  spec/API_specification/array_object.md
Labels: content

#169 Clarify that constants are Python scalars
  spec/API_specification/constants.md
Labels: content
