Repository data-apis/array-api, pull requests merged in 2021-12, with the labels that each got.

#335 Special case when NaNs present in statistical functions
  spec/API_specification/statistical_functions.md
Labels: maintenance, topic: stats

#333 PR: Transform sorting functions from md to rst file
  .circleci/config.yml
  .gitignore
  requirements.txt
  spec/API_specification/signatures/__init__.py
  spec/API_specification/signatures/_types.py
  spec/API_specification/signatures/sorting_functions.py
  spec/API_specification/sorting_functions.md
  spec/API_specification/sorting_functions.rst
  spec/_templates/method.rst
  spec/conf.py
Labels: maintenance

#341 Add note concerning subnormal numbers
  spec/API_specification/data_types.md
Labels: API change

#342 Specify numeric arrays for `argmin` and `argmax`
  spec/API_specification/searching_functions.md
Labels: maintenance, API change, topic: stats
