Repository data-apis/array-api, pull requests merged in 2022-11, with the labels that each got.

#496 Add `imag` specification for returning the imaginary component of a complex number
  spec/API_specification/array_api/elementwise_functions.py
Labels: API extension

#502 Add support for specifying the output array dtype in `linalg.trace`
  spec/API_specification/array_api/linalg.py
Labels: API extension, API change, topic: linalg

#498 API: Specify that DLPack should use BufferError
  spec/API_specification/array_api/array_object.py
Labels: API change, topic: dlpack

#416 Add `take` specification for returning elements of an array along a specified axis
  spec/API_specification/array_api/__init__.py
  spec/API_specification/array_api/indexing_functions.py
  spec/API_specification/index.rst
  spec/API_specification/indexing_functions.rst
Labels: API extension, topic: indexing

#510 Fix mistake in description of return dtype for `matrix_rank`
  spec/API_specification/array_api/linalg.py
Labels: maintenance, topic: linalg

#491 Update type promotion rules for complex dtypes
  spec/API_specification/type_promotion.rst
  spec/_static/images/dtype_promotion_complex.png
  spec/_static/images/dtype_promotion_lattice.png
Labels: topic: complex dtypes

#452 Add complex number support to `expm1`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#511 Fix description for `trunc`
  spec/API_specification/array_api/elementwise_functions.py
Labels: bug, maintenance

#429 Clarify the required semantics for broadcasting with `__setitem__`
  spec/API_specification/broadcasting.rst
Labels: maintenance

#445 Add complex number support to `astype`
  spec/API_specification/array_api/data_type_functions.py
Labels: API change, topic: complex dtypes

#513 Update guidance concerning mixing arrays with Python scalars to handle `complex`
  spec/API_specification/type_promotion.rst
Labels: content, topic: complex dtypes, topic: type promotion

#461 Add complex number support to `sqrt`
  spec/API_specification/array_api/elementwise_functions.py
  spec/design_topics/branch_cuts.rst
  spec/design_topics/index.rst
  spec/purpose_and_scope.md
Labels: API change, topic: complex dtypes

#503 Add specification for `isdtype`
  spec/API_specification/array_api/data_type_functions.py
  spec/API_specification/data_type_functions.rst
Labels: API extension

#515 Add a note on data types possibly not being the same across devices
  spec/API_specification/data_types.rst
Labels: content

#470 Describe what extensions are and how to use them
  spec/extensions/index.rst
  spec/extensions/linear_algebra_functions.rst
Labels: content

#506 Add `device` keyword to fftfreq and rfftfreq
  spec/API_specification/array_api/fft.py
Labels: API change
