Repository data-apis/array-api, pull requests merged in 2022-07, with the labels that each got.

#440 Add complex number support to `round`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#451 Add complex number support to `exp`
  .gitignore
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#464 Add `self` param to array object properties
  spec/API_specification/array_api/array_object.py
Labels: bug

#467 WIP: CI: fix broken gh-pages CI job, should only run on commits in main
  .github/workflows/pages.yml
Labels: CI
