Repository data-apis/array-api, pull requests merged in 2022-12, with the labels that each got.

#524 Add complex number support to `atanh`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#522 Add complex support to `asinh`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#521 Add complex support to `asin`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#520 Add complex support to `acosh`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#517 Add complex number support to `acos`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#530 Add complex number support to `isinf`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#531 Add complex number support to `isfinite`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#525 Add support for complex number addition
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#526 Add support for complex number subtraction
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#538 Add complex number support to `sum`
  spec/API_specification/array_api/statistical_functions.py
Labels: API change, topic: complex dtypes

#546 Add complex number support to `abs`
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#528 Add complex number support to `equal`
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
  spec/design_topics/complex_numbers.rst
  spec/design_topics/index.rst
Labels: API change, topic: complex dtypes

#529 Add complex number support to `not_equal`
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#540 Add complex number support to APIs for returning unique elements
  spec/API_specification/array_api/set_functions.py
Labels: API change, topic: complex dtypes

#537 Add complex number support for `pow`
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#514 Add complex number support to `log`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#536 Add complex number support to `log10`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#535 Add complex number support to `log2`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#541 Add complex number support to `linalg.trace`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#542 Add complex number support to `linalg.det`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#556 Add complex number support to `sign`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#547 Add complex number support for `linalg.inv`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#549 Add complex number support to `linalg.matrix_power`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#551 Add complex number support for multiplication
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#554 Add support for complex number division
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#553 Add complex number support to `prod`
  spec/API_specification/array_api/statistical_functions.py
Labels: API change, topic: complex dtypes

#552 Add complex number support to `square`
  spec/API_specification/array_api/elementwise_functions.py
Labels: API change, topic: complex dtypes

#557 Add complex number support to `matmul`
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/linear_algebra_functions.py
Labels: API change, topic: complex dtypes, topic: linalg

#558 Add complex number support to `tensordot`
  spec/API_specification/array_api/linear_algebra_functions.py
Labels: API change, topic: complex dtypes, topic: linalg

#560 Add complex number support to `linalg.outer`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#559 Add complex number support to `linalg.cross`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#562 Add complex number support to `linalg.svdvals`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#563 Add complex number support to `linalg.matrix_rank`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#565 Add complex number support to `linalg.matrix_norm`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#566 Add complex number support to `linalg.solve`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#568 Add complex number support to `linspace`
  spec/API_specification/array_api/creation_functions.py
Labels: API change, topic: complex dtypes, topic: creation

#567 Add complex number support to `linalg.slogdet`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#561 Add complex number support to `linalg.svd`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#564 Add complex number support to `linalg.pinv`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: complex dtypes, topic: linalg

#497 Align casting methods with Python behaviour
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_object.rst
Labels: API change

#512 Add complex number support to `vecdot`
  spec/API_specification/array_api/linear_algebra_functions.py
Labels: topic: complex dtypes

#572 Update dtype guidance for `eigh` and `eigvalsh`
  spec/API_specification/array_api/linalg.py
Labels: API change, topic: linalg

#573 Consolidate complex number design topics and add guidance on value-based promotion
  spec/design_topics/branch_cuts.rst
  spec/design_topics/complex_number_ordering.rst
  spec/design_topics/complex_numbers.rst
  spec/design_topics/index.rst
Labels: maintenance, content, topic: complex dtypes

#574 Add a changelog for tracking specification changes across versions
  CHANGELOG.md
Labels: content

#575 Run `black` on `.py` files (with git-blame-ignore-revs)
  .git-blame-ignore-revs
  spec/API_specification/array_api/__init__.py
  spec/API_specification/array_api/_types.py
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/constants.py
  spec/API_specification/array_api/creation_functions.py
  spec/API_specification/array_api/data_type_functions.py
  spec/API_specification/array_api/data_types.py
  spec/API_specification/array_api/elementwise_functions.py
  spec/API_specification/array_api/fft.py
  spec/API_specification/array_api/indexing_functions.py
  spec/API_specification/array_api/linalg.py
  spec/API_specification/array_api/linear_algebra_functions.py
  spec/API_specification/array_api/manipulation_functions.py
  spec/API_specification/array_api/searching_functions.py
  spec/API_specification/array_api/set_functions.py
  spec/API_specification/array_api/sorting_functions.py
  spec/API_specification/array_api/statistical_functions.py
  spec/API_specification/array_api/utility_functions.py
Labels: document formatting

#578 Move special cases to notes sections
  .git-blame-ignore-revs
  spec/API_specification/array_api/array_object.py
  spec/API_specification/array_api/elementwise_functions.py
  spec/API_specification/array_api/linalg.py
  spec/API_specification/array_api/statistical_functions.py
Labels: maintenance

#577 Add Changelog and License to the rendered website, update copyright year
  LICENSE
  spec/changelog.rst
  spec/conf.py
  spec/index.rst
  spec/license.rst
Labels: content

#576 Clean up duplicate blurbs on function conventions; improve `fft` description
  spec/API_specification/array_object.rst
  spec/API_specification/creation_functions.rst
  spec/API_specification/elementwise_functions.rst
  spec/API_specification/index.rst
  spec/API_specification/indexing_functions.rst
  spec/API_specification/linear_algebra_functions.rst
  spec/API_specification/manipulation_functions.rst
  spec/API_specification/searching_functions.rst
  spec/API_specification/set_functions.rst
  spec/API_specification/sorting_functions.rst
  spec/API_specification/statistical_functions.rst
  spec/API_specification/utility_functions.rst
  spec/extensions/fourier_transform_functions.rst
  spec/extensions/index.rst
  spec/extensions/linear_algebra_functions.rst
Labels: maintenance, content

#579 Update notes to indicate that branch cuts follow C99
  spec/API_specification/array_api/elementwise_functions.py
Labels: content, topic: complex dtypes
