Repository data-apis/array-api, pull requests merged in 2022-04, with the labels that each got.

#413 `expm1` should having float inputs
  spec/API_specification/signatures/elementwise_functions.py
Labels: bug, maintenance

#409 Clarify overflow behavior in `asarray`
  spec/API_specification/signatures/creation_functions.py
Labels: content, topic: creation

#408 Add support for expanding dimensions using `None`
  spec/API_specification/indexing.rst
Labels: API extension, topic: indexing

#414 Add `newaxis` constant for use in array indexing
  spec/API_specification/constants.rst
  spec/API_specification/signatures/constants.py
Labels: API extension, topic: indexing

#419 Fix tensordot broadcasting rules
  spec/API_specification/signatures/linear_algebra_functions.py
Labels: bug, topic: linalg

#421 Fix erroneous updates to arange intended for linspace
  spec/API_specification/signatures/creation_functions.py
Labels: bug, topic: creation
