Repository data-apis/array-api, pull requests merged in 2022-10, with the labels that each got.

#484 Complex dtype support in `finfo()`
  spec/API_specification/array_api/data_type_functions.py
Labels: API change, topic: complex dtypes

#427 Add `real` specification for returning the real component of a complex number
  spec/API_specification/array_api/elementwise_functions.py
  spec/API_specification/elementwise_functions.rst
Labels: API extension, topic: complex dtypes

#446 Add `conj` specification for computing the complex conjugate
  spec/API_specification/array_api/elementwise_functions.py
  spec/API_specification/elementwise_functions.rst
Labels: API extension, topic: complex dtypes

#189 Add FFT extension to the spec
  .circleci/config.yml
  spec/API_specification/array_api/fourier_transform_functions.py
  spec/extensions/fourier_transform_functions.rst
  spec/extensions/index.rst
Labels: API extension
