Repository data-apis/array-api, pull requests merged in 2023-12, with the labels that each got.

#705 Add `signbit` specification for determining whether a sign bit is set
  spec/draft/API_specification/elementwise_functions.rst
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: API extension

#653 Add specification for computing the cumulative sum
  spec/draft/API_specification/statistical_functions.rst
  src/array_api_stubs/_draft/statistical_functions.py
Labels: API extension

#701 Add note clarifying behavior for out-of-bounds indices in `take`
  src/array_api_stubs/_draft/indexing_functions.py
Labels: content, topic: indexing

#713 Add specifications for `maximum` and `minimum`
  spec/draft/API_specification/elementwise_functions.rst
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: API extension

#723 Fix definition of complex inner product in `vecdot`
  src/array_api_stubs/_2022_12/linear_algebra_functions.py
  src/array_api_stubs/_draft/linear_algebra_functions.py
Labels: topic: linalg, backport
