Repository data-apis/array-api, pull requests merged in 2023-09, with the labels that each got.

#684 Add pre commit + black
  .git-blame-ignore-revs
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  pyproject.toml
  spec/2021.12/benchmark_suite.md
  spec/2021.12/conf.py
  spec/2021.12/design_topics/accuracy.rst
  spec/2021.12/design_topics/parallelism.rst
  spec/2021.12/future_API_evolution.md
  spec/2021.12/usage_data.md
  spec/2021.12/use_cases.md
  spec/2022.12/benchmark_suite.md
  spec/2022.12/conf.py
  spec/2022.12/design_topics/accuracy.rst
  spec/2022.12/design_topics/complex_numbers.rst
  spec/2022.12/design_topics/parallelism.rst
  spec/2022.12/future_API_evolution.md
  spec/2022.12/usage_data.md
  spec/2022.12/use_cases.md
  spec/_static/css/custom.css
  spec/_templates/property.rst
  spec/draft/benchmark_suite.md
  spec/draft/conf.py
  spec/draft/design_topics/accuracy.rst
  spec/draft/design_topics/complex_numbers.rst
  spec/draft/design_topics/parallelism.rst
  spec/draft/future_API_evolution.md
  spec/draft/usage_data.md
  spec/draft/use_cases.md
  src/_array_api_conf.py
  src/array_api_stubs/_2021_12/_types.py
  src/array_api_stubs/_2021_12/array_object.py
  src/array_api_stubs/_2021_12/constants.py
  src/array_api_stubs/_2021_12/creation_functions.py
  src/array_api_stubs/_2021_12/data_type_functions.py
  src/array_api_stubs/_2021_12/data_types.py
  src/array_api_stubs/_2021_12/elementwise_functions.py
  src/array_api_stubs/_2021_12/linalg.py
  src/array_api_stubs/_2021_12/linear_algebra_functions.py
  src/array_api_stubs/_2021_12/manipulation_functions.py
  src/array_api_stubs/_2021_12/searching_functions.py
  src/array_api_stubs/_2021_12/set_functions.py
  src/array_api_stubs/_2021_12/sorting_functions.py
  src/array_api_stubs/_2021_12/statistical_functions.py
  src/array_api_stubs/_2021_12/utility_functions.py
  src/array_api_stubs/_2022_12/_types.py
Labels: maintenance, CI

#656 Add specification for moving array axes to new positions
  spec/draft/API_specification/manipulation_functions.rst
  src/array_api_stubs/_draft/manipulation_functions.py
Labels: API extension

#666 Clarify behavior when `dtype=None` in sum, prod and trace
  src/array_api_stubs/_draft/linalg.py
  src/array_api_stubs/_draft/statistical_functions.py
Labels: content

#665 add device kwarg to astype API
  src/array_api_stubs/_draft/data_type_functions.py
Labels: API change, topic: device handling

#674 Clarify types to allow None in indexing
  src/array_api_stubs/_draft/array_object.py
Labels: content, topic: indexing

#625 Allow negative axes in tensordot
  src/array_api_stubs/_draft/linear_algebra_functions.py
Labels: API change, topic: linalg
