Repository data-apis/array-api, pull requests merged in 2024-09, with the labels that each got.

#791 feat: add `diff` to specification
  spec/draft/API_specification/utility_functions.rst
  src/array_api_stubs/_draft/utility_functions.py
Labels: API extension

#813 docs: specify the behavior of `clip()` when one of the operands is NaN
  src/array_api_stubs/_2023_12/elementwise_functions.py
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: Maintenance, Backport

#825 docs: clarify `roundTiesToEven` behavior for non-ties
  spec/draft/design_topics/accuracy.rst
Labels: Maintenance

#816 feat: add `take_long_axis` to specifiation
  spec/draft/API_specification/indexing_functions.rst
  src/array_api_stubs/_draft/indexing_functions.py
Labels: API extension, topic: Indexing
