Repository data-apis/array-api, pull requests merged in 2024-02, with the labels that each got.

#743 nit: fix typo
  src/array_api_stubs/_2022_12/fft.py
  src/array_api_stubs/_draft/fft.py
Labels: maintenance, content

#602 Add versioning support to DLPack APIs
  src/array_api_stubs/_draft/array_object.py
  src/array_api_stubs/_draft/creation_functions.py
Labels: API extension, topic: dlpack

#742 Add note to `to_device` regarding copy behavior when moving to same device
  src/array_api_stubs/_draft/array_object.py
Labels: maintenance, topic: device handling

#745 Improve data types page
  spec/draft/API_specification/data_types.rst
Labels: content

#744 Change dtype=None behavior in sum/prod/cumulative_sum/linalg.trace
  src/array_api_stubs/_draft/linalg.py
  src/array_api_stubs/_draft/statistical_functions.py
Labels: maintenance, API change

#740 Only require axis to be negative in vecdot and cross
  src/array_api_stubs/_draft/linalg.py
  src/array_api_stubs/_draft/linear_algebra_functions.py
Labels: topic: linalg

#741 Support `copy` and `device` keywords in `from_dlpack`
  src/array_api_stubs/_draft/array_object.py
  src/array_api_stubs/_draft/creation_functions.py
Labels: API extension, topic: dlpack

#689 Add Array API inspection utilities
  spec/draft/API_specification/index.rst
  spec/draft/API_specification/inspection.rst
  spec/draft/design_topics/device_support.rst
  src/_array_api_conf.py
  src/array_api_stubs/_draft/__init__.py
  src/array_api_stubs/_draft/_types.py
  src/array_api_stubs/_draft/info.py
Labels: API extension, topic: device handling

#749 Add recommendation on what to do with DLPack read-only flag
  src/array_api_stubs/_draft/array_object.py
Labels: content, topic: dlpack

#703 Add `hypot` specification for computing the square root of the sum of squares
  spec/draft/API_specification/elementwise_functions.rst
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: API extension, topic: complex dtypes

#752 docs: clarify shape of `values` and order of `counts` in `unique` APIs
  src/array_api_stubs/_draft/set_functions.py
Labels: content

#690 Add `repeat` to the specification
  spec/draft/API_specification/manipulation_functions.rst
  src/array_api_stubs/_draft/manipulation_functions.py
Labels: API extension, topic: manipulation

#754 docs: add changelog for v2023.12 specification revision
  CHANGELOG.md
  src/array_api_stubs/_2022_12/indexing_functions.py
  src/array_api_stubs/_draft/array_object.py
  src/array_api_stubs/_draft/creation_functions.py
  src/array_api_stubs/_draft/data_type_functions.py
  src/array_api_stubs/_draft/elementwise_functions.py
  src/array_api_stubs/_draft/fft.py
  src/array_api_stubs/_draft/indexing_functions.py
  src/array_api_stubs/_draft/info.py
  src/array_api_stubs/_draft/linalg.py
  src/array_api_stubs/_draft/linear_algebra_functions.py
  src/array_api_stubs/_draft/manipulation_functions.py
  src/array_api_stubs/_draft/searching_functions.py
  src/array_api_stubs/_draft/set_functions.py
  src/array_api_stubs/_draft/statistical_functions.py
Labels: content

#757 Bump Sphinx and sphinx-material versions to latest releases
  doc-requirements.txt
Labels: deployment
