Repository data-apis/array-api, pull requests merged in 2024-07, with the labels that each got.

#802 feat: add `reciprocal` to the specification
  spec/draft/API_specification/elementwise_functions.rst
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: API extension

#810 Make the result shape in solve() clearer
  src/array_api_stubs/_2022_12/linalg.py
  src/array_api_stubs/_2023_12/linalg.py
  src/array_api_stubs/_2023_12/manipulation_functions.py
  src/array_api_stubs/_draft/linalg.py
  src/array_api_stubs/_draft/manipulation_functions.py
Labels: Maintenance, topic: Linear Algebra, Backport

#809 feat!: rename "max rank" to "max dimensions" in `capabilities()`
  src/array_api_stubs/_draft/info.py
Labels: API change, topic: Inspection
