Repository data-apis/array-api, pull requests merged in 2024-12, with the labels that each got.

#870 docs: clarify that implementations may add additional arguments
  spec/draft/purpose_and_scope.md
Labels: Narrative Content

#803 feat: add `count_nonzero` to specification
  spec/draft/API_specification/searching_functions.rst
  src/array_api_stubs/_draft/searching_functions.py
Labels: API extension

#868 fix: clarify that `condition` should have a boolean dtype in `where`
  src/array_api_stubs/_2021_12/searching_functions.py
  src/array_api_stubs/_2022_12/searching_functions.py
  src/array_api_stubs/_2023_12/searching_functions.py
  src/array_api_stubs/_draft/searching_functions.py
Labels: Backport

#850 feat: add complex dtype support for `mean`
  src/array_api_stubs/_draft/statistical_functions.py
Labels: API extension, topic: Complex Data Types, topic: Statistics, Needs Review
