Repository data-apis/array-api, pull requests merged in 2025-01, with the labels that each got.

#873 feat: add support for scalars in `result_type`
  src/array_api_stubs/_draft/data_type_functions.py
Labels: API change, topic: Type Promotion

#876 docs: clarify behavior when providing a zero-dimensional array to `take`
  src/array_api_stubs/_draft/indexing_functions.py
Labels: API change

#880 fix: address default value regression for `axis` kwarg in `vecdot`
  src/array_api_stubs/_2021_12/linalg.py
  src/array_api_stubs/_2022_12/linalg.py
  src/array_api_stubs/_2023_12/linalg.py
  src/array_api_stubs/_draft/linalg.py
Labels: Backport

#860 feat: add scalar support to `where`
  spec/draft/API_specification/type_promotion.rst
  src/array_api_stubs/_draft/searching_functions.py
Labels: API change

#862 feat: add scalar support to element-wise functions
  src/array_api_stubs/_draft/array_object.py
  src/array_api_stubs/_draft/elementwise_functions.py
Labels: API change
